<div class="container max-width3">

    <h1> Your cart: </h1>
    <div class="total">
        
    </div>

    <div class="flex-row">
    # for each item cart ----- where userid = current_user.id
        <div class="">
            
        </div>

        <div class="">
            
        </div>
    </div>

</div>