<section class="cover flex-col">
    <div class="gradient"></div>

    <div class="max-width center cover-text">
      <h1 class="logo-name">
        Wait for our surprises soon!
      </h1>
    </div>

    <%
=begin%>
 <div class="max-width center cover-text">
      <h1 class="logo-name">
        OTC Diagnoser
      </h1>
      <h3 class="slogan">
        Our dream is to make sure that every patient has the right medical care to achieve the minimal risk of drug administration.
      </h3>
    </div>   
<%
=end%>
  </section>

  <h2 id="services" class="center our-services-h"><b>Services:</b></h2>
  <br><br>
  <section class="services flex-row center max-width">
    <%
=begin%>
 <div class="service service1 center flex-row">
        <a href="history.php" class="flex-col center">
            <h3 class="center">
                Consultation
            </h3>
        </a>
    </div> 
<%
=end%>


    <div class="service service2 center flex-row">
        <a href="/cats" class="flex-col center">
            <h3 class="center">
                Order Medications
            </h3>
        </a>
    </div>
  </section>
  <hr>
  <section class="services flex-row center max-width">
    <div class="service service3 center flex-row">
        <a href="/cosm_cats/cat/hair" class="flex-col center">
            <h3 class="center">
                Hair care
            </h3>
        </a>
    </div>
    
    <div class="service service9 center flex-row">
        <a href="/cosm_cats/cat/skin" class="flex-col center">
            <h3 class="center">
                Skin care
            </h3>
        </a>
    </div>

    <div class="service service4 center flex-row">
        <a href="/cosm_cats/cat/beauty" class="flex-col center">
            <h3 class="center">
                Beauty
            </h3>
        </a>
    </div>

    <div class="service service6 center flex-row">
        <a href="/cosm_cats/cat/men" class="flex-col center">
            <h3 class="center">
                Men personal care
            </h3>
        </a>
    </div>

    <div class="service service7 center flex-row">
        <a href="/cosm_cats/cat/women" class="flex-col center">
            <h3 class="center">
                Women personal care
            </h3>
        </a>
    </div>

    <div class="service service5 center flex-row">
        <a href="/cosm_cats/cat/sexual" class="flex-col center">
            <h3 class="center">
                Sexual wellness
            </h3>
        </a>
    </div>

    <div class="service service8 center flex-row">
        <a href="/cosm_cats/cat/babies" class="flex-col center">
            <h3 class="center">
                Babies
            </h3>
        </a>
    </div>

  </section>

<%
=begin%>
 <main>
    <!-- Steps -->
    <section class="steps-container">
      <h2 class="center"><b>
        How to use our site
      </b></h2>
      <div class="steps max-width center">
        <div class="step">
          <!-- <div class="bg-image"></div> -->
          <i class="fas fa-play"></i>
          <h3>Start Consultation</h3>
          <p>
            Just click on 'Consultation' to start the diagnosis process!
          </p>
        </div>
        <div class="step">
          <!-- <div class="bg-image"></div> -->
          <i class="fas fa-bars"></i>
          <h3>Category select</h3>
          <p>
            Now You have to choose the category that your disease falls under...
          </p>
        </div>
        <div class="step">
          <!-- <div class="bg-image"></div> -->
          <i class="fas fa-clipboard-list"></i>
          <h3 class="">Answer questions</h3>
          <p>
            You have to answer the coming questions in order to know your medical history to make sure you have the right solution! 
          </p>
        </div>
        <div class="step">
          <!-- <div class="bg-image"></div> -->
          <i class="fas fa-prescription-bottle-alt"></i>
          <h3>Get cured!</h3>
          <p>
            Thank god! You can buy your treatment now with no hesitation... And don't forget to rate us haa!!
          </p>
        </div>
      </div>
    </section>
</main> 
<%
=end%>














<footer >
  <div class="subscribe ">
    <h3>Follow</h3>
    <ul class="navbar max-width flex-col justify p-0">
      <li><a href=""><i class="fab fa-facebook"></i> Facebook</a></li>
      <li><a href=""><i class="fab fa-twitter"></i> Twitter</a></li>
      <li><a href=""><i class="fab fa-youtube"></i> Youtube</a></li>
    </ul>
  </div>
  <div class="contact ">
    <h3 id="contact">ADS</h3>
    <div>
      <p>Question..?</p>
      <p>info@example.com</p>
    </div>
  </div>
  <div id="about" class="about ">
    <h3>About</h3>
    <p>
      Towards the future,<br> a fully inspired, powerfull and fantastic group of pharmacists and developers working day and night with love just for your happiness
    </p>
  </div>
</footer>

