<%
=begin%>
 <section class="cover flex-col">
    <div class="gradient"></div>

</section> 
<%
=end%>
<br><br><br>
<h2 id="services" class="center our-services-h"><b>خدماتنا:</b></h2>
<br>
<section class="services flex-row center max-width">

    <div class="service service10 center flex-row">
        <a href="/prescription" class="flex-col center">
            <h3 class="center">
                صور روشتتك
            </h3>
        </a>
    </div>


    <div class="service service2 center flex-row">
        <a href="/cats" class="flex-col center">
            <h3 class="center">
                اطلب أدويتك
            </h3>
        </a>
    </div>
</section>
<hr>
<section class="services flex-row center max-width">
    <div class="service service3 center flex-row">
        <a href="/cosm_cats/cat/hair" class="flex-col center">
            <h3 class="center">
                العناية بالشعر
            </h3>
        </a>
    </div>

    <div class="service service9 center flex-row">
        <a href="/cosm_cats/cat/skin" class="flex-col center">
            <h3 class="center">
                العناية بالبشرة
            </h3>
        </a>
    </div>

    <div class="service service4 center flex-row">
        <a href="/cosm_cats/cat/beauty" class="flex-col center">
            <h3 class="center">
                جمال المرأة
            </h3>
        </a>
    </div>

    <div class="service service6 center flex-row">
        <a href="/cosm_cats/cat/men" class="flex-col center">
            <h3 class="center">
                العناية بالرجل 
            </h3>
        </a>
    </div>

    <div class="service service7 center flex-row">
        <a href="/cosm_cats/cat/women" class="flex-col center">
            <h3 class="center">
                العناية بالمرأة
            </h3>
        </a>
    </div>

    <div class="service service5 center flex-row">
        <a href="/cosm_cats/cat/sexual" class="flex-col center">
            <h3 class="center">
                الصحة الجنسية
            </h3>
        </a>
    </div>

    <div class="service service8 center flex-row">
        <a href="/cosm_cats/cat/babies" class="flex-col center">
            <h3 class="center">
                الأطفال
            </h3>
        </a>
    </div>

</section>

