    <section class="services flex-row center max-width">

        <div class="service pain s center flex-row">
            <a href="categories/pain-reliever">
                <h3 class="center">
                    Pain
                </h3>
            </a>
        </div>
    
        <div class="service cold s center flex-row">
            <a href="categories/cold">
                <h3 class="center">
                    Cold & Flu
                </h3>
            </a>
        </div>
    
        <div class="service cough s center flex-row">
            <a href="categories/cough">
                <h3 class="center">
                    Cough
                </h3>
            </a>
        </div>
    
        <div class="service allergy s center flex-row">
            <a href="categories/allergy">
                <h3 class="center">
                    Allergy & Sinus
                </h3>
            </a>
        </div>
    
        <div class="service vitamins s center flex-row">
            <a href="categories/vitamins">
                <h3 class="center">
                    Vitamins
                </h3>
            </a>
        </div>
    
        <div class="service digestive s center flex-row">
            <a href="categories/digestive">
                <h3 class="center">
                    Digestive system
                </h3>
            </a>
        </div>
    
        <div class="service eye s center flex-row">
            <a href="categories/eye">
                <h3 class="center">
                    Eye
                </h3>
            </a>
        </div>
    
        <div class="service sexual s center flex-row">
            <a href="categories/sexual">
                <h3 class="center">
                    Sexual wellness
                </h3>
            </a>
        </div>
    
        <div class="service babies s center flex-row">
            <a href="categories/babies">
                <h3 class="center">
                    Babies
                </h3>
            </a>
        </div>
    
        <div class="service antibiotics s center flex-row">
            <a href="categories/antibiotics">
                <h3 class="center">
                    Antibiotics
                </h3>
            </a>
        </div>
    </section>

