* {
  box-sizing: border-box;
  transition: 0.1s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Changa', sans-serif;
  direction: rtl;
}

.en {
  direction: ltr;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #038006;
}

.color-white {
  color: #eeeeee !important;
}

ul {
  list-style-type: none;
}

ul.none {
  display: none;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 50px;
}

ul.none li {
  padding-right: 8px;
}

body > nav.navbar.navbar-light.sticky-top.bg-light > ul > li > a {
  color: rgb(214, 214, 214);
}

.b {
  width: inherit;
  padding-right: 0.3125rem !important;
}

.max {
  max-width: 90%;
}

.choice {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #007bff;
  color: white;
  border-radius: 5px;
}

.checks {
  width: 100%;
}

label {
  margin-bottom: 0;
}

.max-width {
  max-width: 1000px;
}

.width {
  width: 1000px;
}

.max-width2 {
  max-width: 500px;
}

.max-width3 {
  max-width: 700px;
}

.center {
  margin: auto;
  align-items: center;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.big-header {
  margin-top: 70px;
  margin-bottom: 40px;
}

.justify {
  justify-content: space-between;
}

.nav1 a {
  color: rgb(202, 202, 202) !important;
}

.s {
  width: 100%;
}

.sticky-top {
  align-items: flex-end;
}

.navv {
  background-color: #171719;
}

.inner-nav {
  margin: auto;
  display: none !important;
}

.navbar.navbar-light {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #171719 !important;
  justify-content: end;
  padding: 12px;
}

.navbar a {
  padding: 0;
  margin: auto;
}

.navbar a img {
  height: 70px;
  width: auto;
}

.logo {
  color: #eae7e7;
  font-weight: 300;
}

.green {
  color: #038006;
}

.navbar a i {
  margin-right: 10px;
}

.fa-shopping-cart {
  color: #28a745;
}

.cover {
  position: relative;
  height: 300px;
  text-align: center;
  background: url(medical3.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  padding: 20px;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.cover-text {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.cover-text h1 {
  font-weight: bold;
  color: #038006;
  font-size: 2em;
}

h3.slogan {
  font-size: 1.2em;
}

.our-services-h {
  color: #111224;
}

.services {
  margin-top: 20px;
  margin-bottom: 80px;
  justify-content: center;
}

.service {
  height: 145px;
  width: 145px;
  /* padding: 5px; */
  position: relative;
  border-radius: 15px;
  margin-top: 30px;
}

.service h3 {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  /* border-radius: 5px; */
  font-weight: bolder;
  z-index: 10;
}

.service a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.catt {
  max-width: 170px;
}

.catt div {
  margin: auto;
}

.categories {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
}

.background {
  height: 100%;
  width: 100%;
}

h3.cat-name {
  background-color: rgba(17, 18, 26, 1);
  border-radius: 0;
  color: white;
}

.catty {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 10px;
}

.cat-name {
  padding: 10px;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  font-weight: 600;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.service1 {
  background: url(consultation.jpg) no-repeat;
  background-size: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.service2 {
  background: url(medications.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}

.service3 {
  height: 160px;
  width: 100%;
  /* padding: 5px; */
  position: relative;
  border-radius: 0;
  /* border-bottom-left-radius: 10px; */
  /* border-top-left-radius: 5pc; */
  margin-top: 20px;
  background: url(beauty.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

.service9 {
  height: 160px;
  width: 100%;
  /* padding: 5px; */
  position: relative;
  border-radius: 0;
  /* border-bottom-left-radius: 10px; */
  /* border-top-left-radius: 5pc; */
  margin-top: 20px;
  background: url(beauty2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

.service10 {
  height: 145px;
  /* width: 100%; */
  /* padding: 5px; */
  position: relative;
  border-radius: 0;
  border-top-left-radius: 10px;

  margin-top: 30px;
  background: url(prescription.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 14px;
  margin-right: 14px;
}

.service4 {
  height: 160px;
  width: 100%;
  /* padding: 5px; */
  position: relative;
  border-radius: 0;
  margin-top: 20px;
  background: url(cosmo.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

.service6 {
  background: url(he.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-left-radius: 0;
}

.service7 {
  background: url(she.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.service8 {
  height: 160px;
  width: 100%;
  /* padding: 5px; */
  position: relative;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 20px;
  background: url(baby.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

.service5 {
  height: 160px;
  width: 100%;
  /* padding: 5px; */
  position: relative;
  border-radius: 0;

  margin-top: 20px;
  background: url(wellness2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

.steps-container {
  /* background-color: #111224; */
  background-color: #171719;
  padding: 30px 0px;
}

.steps-container h2 {
  padding-top: 50px;
  color: rgb(241, 67, 67);
}

.steps {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 4px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.bg-image {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.step {
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
  position: relative;
  padding: 10px 10px;
  height: 220px;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  color: white;
  z-index: 100;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.step i {
  padding-bottom: 10px;
  top: -50px;
}

.step i {
  font-size: 40px;
  color: rgb(241, 67, 67);
}

footer {
  background-color: #171719;
  color: whitesmoke;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  padding-bottom: 80px;
}

footer div {
  margin-top: 10px;
  border-bottom: 1px solid rgba(139, 139, 139, 0.2);
  padding: 20px;
}

footer h3 {
  margin: 0;
  margin-bottom: 10px;
  color: #dc3545;
  font-weight: bold;
}

.subscribe {
  padding-bottom: 20px;
}

/* Diagnosis */

.question h1 {
  margin-top: 30px;
}

.history-form {
  max-width: 300px;
}

.form-group {
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}

.history-form div {
  width: 100%;
  align-items: center;
}

.history-form label {
  text-align: left;
}

.female-group {
  display: none;
}

/* disease page */

.follow h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0;
}

.answerQuestion {
  padding: 30px;
}

/* SUB MOb */
@media only screen and (max-width: 300px) {
  .service {
    height: 120px;
    width: 120px;
    position: relative;
    border-radius: 15px;
    margin: 10px;
  }

  .categories {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-items: center;
  }

  .catty {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 10px;
  }

  .product-img {
    max-height: 110px;
    height: 150px;
    width: 100%;
    text-align: center;
  }

  .product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* MOb Tab */
@media only screen and (min-width: 360px) {
  .service {
    height: 160px;
    width: 160px;
    position: relative;
    border-radius: 15px;
    margin: 10px;
  }

  .categories {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-items: center;
  }

  .catty {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  .card {
    height: 225px !important;
    width: 140px !important;
  }

  .card2 {
    height: 175px !important;
  }

  .product-img {
    max-height: 110px;
    height: 110px;
    width: 100%;
    text-align: center;
  }

  .product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .product-info h6 {
    margin: 3px;
  }

  .product-info span,
  .product-info a {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 30px !important;
  }
}
/* Tablet */

@media only screen and (min-width: 767px) {
  .cover {
    height: 400px;
  }

  .s {
    width: fit-content;
  }

  .inner-nav {
    margin: 0;
    display: flex !important;
  }

  .navbar.navbar-light {
    display: flex;
    flex-direction: row;
  }

  .service {
    height: 200px;
    width: 220px;
    position: relative;
    border-radius: 15px;
    margin: 10px;
  }

  .categories {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    justify-items: center;
  }

  .catty {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 10px;
  }

  .cat-name {
    padding: 15px;
    font-weight: 700;
  }
  .d-none-big {
    display: none;
  }

  .steps {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* DESKTOP */

@media only screen and (min-width: 1000px) {
  a.navbar-brand {
    margin: 10px;
  }

  .nav1 {
    display: none;
  }

  ul.none {
    display: flex;
  }

  .cover {
    height: 550px;
  }

  .logo-name {
    font-size: 65px;
  }

  .service {
    height: 200px;
    width: 220px;
    position: relative;
    border-radius: 15px;
    margin: 10px;
  }

  .categories {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-items: center;
  }

  .catty {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 10px;
  }

  .steps {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  footer div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer div ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* CATEEEEEEEEEEEEEEEEEEGORIES */

.pain {
  background: url(pain.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}
.s h3 {
  position: relative;
  top: 40%;
}

.allergy {
  background: url(allergy.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.cold {
  background: url(cold.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.antibiotics {
  background: url(antibiotics.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.digestive {
  background: url(digestive.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.eye {
  background: url(eye.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.vitamins {
  background: url(vitamins.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.sexual {
  background: url(wellness2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.women {
  background: url(women.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.cough {
  background: url(cough.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.babies {
  background: url(baby.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  border-top-right-radius: 0;
}

.card {
  width: 124px;
}

.card2 {
  height: 175px !important;
}

.card3 {
  height: 205px !important;
}

.meds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-items: center;
  grid-gap: 8px;
}

.product-img {
  max-height: 140px;
  height: 140px;
  width: 100%;
  text-align: center;
}

.product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 8px;
}

.card-link:hover {
  color: black;
}

.show-img {
  max-height: 250px;
  max-width: 250px;
}

.show p {
  text-align: right;
}

.show-price {
  color: #038006;
}

.sidebar {
  width: 200px;
  background-color: #171719;
  position: fixed;
  top: 0px;
  z-index: 1000;
  color: white;
  right: -200px;
}

.sidebar ul {
  padding: 15px;
}

.sidebar-toggle {
  margin: 0 !important;
  border-radius: 0;
  color: white;
  font-size: 20px;
}

@keyframes slideIn {
  from {
    right: -200px;
  }
  to {
    right: 0px;
  }
}

@keyframes slideOut {
  from {
    right: 0px;
  }
  to {
    right: -200px;
  }
}

.slide-in {
  animation: slideIn 0.7s ease-out forwards;
}

.slide-out {
  animation: slideOut 0.7s ease-in forwards;
}

.category-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-name {
  bottom: 0;
}

.fa-check-circle {
  color: #038006;
}

.fa-times-circle {
  color: #dc3545;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.mod {
  top: 35%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  padding: 40px;
  margin: auto;
  height: 230px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  display: none;
}

.mod .field {
  display: flex;
  flex-direction: row;
}

.cart-img img {
  height: 110px;
  width: 90px;
  object-fit: cover;
}

.cart-controls {
  top: 12px;
  left: 12px;
}

.cart-count {
  position: absolute;
  top: -15px;
  right: -8px;
  padding-top: 4px;
  border: 1px solid rgba(160, 159, 159, 0.5);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  font-size: 12px;
  color: black;
  background-color: #ffc107;
  text-align: center;
}

.total {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 60px;
  background-color: white;
  border-top: rgba(155, 155, 155, 0.3) solid 1px;
}

.checkout {
  padding: 15px;
  margin: 0;
  background-color: #ffc107;
}

.ar {
  direction: rtl;
}

.field.ar {
  max-width: 400px;
  padding: 10px;
  margin: auto;
}

select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}

.orders-table {
  width: 90%;
  margin: 20px;
  border: 2px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 4px;
}
