<nav class="navbar fixed-bottom navbar-dark bg-light justify-content-around">
<a id="sidebar-toggler" class="btn sidebar-toggle p-2 "><i class="fa fa-bars"></i></a>
    <%
=begin%>
 <a class="navbar-brand" id="menu"><i class="fas fa-bars"></i></a> 
<%
=end%>
    <a class="navbar-brand text-green m-0"  href="/cart_items"><i class="fas fa-shopping-cart btn-green position-relative"> <%if user_signed_in?%> <span class="cart-count"><%= current_user.cart_items.count %></span><%end%></i></a>
</nav>