<nav class="navbar fixed-bottom navbar-dark bg-light justify-content-around">
    <a class="navbar-brand" href="index.php"><i class="fas fa-home"></i></a>
    <a class="navbar-brand text-green" href="#"><i class="fas fa-shopping-cart btn-green"></i></a>
</nav>