<div class="sticky-top">
  <nav class="navbar navbar-light sticky-top bg-light ">
    <%= link_to  root_path  ,class:"navbar-brand color-white" do %>
      <%= image_tag "meed2.jpg", class: "d-inline-block align-top" %>
      <h5 class="center">أجز<span class="green">خ</span>انتي</h5>
    <% end %>
  </nav>
</div>
