<div class="py-4 h-100 sidebar" id="sidebar">

    <br><br><br><br><br>

    <ul>
        <li class="p-2">
            <%= link_to "الرئيسية", root_path %>
        </li>
        <li class="p-2">
            <%= link_to "للخدمات والشكاوي", "/#contact",class:'center' %>
        </li>

        <li class="p-2">
            <% if !user_signed_in? %>
                <%= button_to "تسجيل الدخول", new_user_session_path, class: "btn btn-outline-success p-1 ", method: "get"%>
            <% else %>  
                <%= button_to "تسجيل الخروج", destroy_user_session_path, class: "btn btn-outline-success p-1 ", method: "delete"%>
            <% end %> 
        </li>
    </ul>
</div>